In [1]:
import pandas as pd

nt = pd.read_csv(r"/content/nutrients_csvfile(3).xls")
print(nt)

                      Food Measure  Grams Calories Protein Fat Sat.Fat Fiber  \
0               Cows' milk   1 qt.    976      660      32  40      36     0
1                Milk skim   1 qt.    984      360      36   t       t     0
2               Buttermilk   1 cup    246      127       9   5       4     0
3    Evaporated, undiluted   1 cup    252      345      16  20      18     0
4           Fortified milk  6 cups  1,419    1,373      89  42      23   1.4
..                     ...     ...    ...      ...     ...  ..     ...   ...
330    Fruit-flavored soda  12 oz.    346      161       0   0       0     0
331             Ginger ale  12 oz.    346      105       0   0       0     0
332              Root beer  12 oz.    346      140       0   0       0     0
333                 Coffee   1 cup    230        3       t   0       0     0
334                    Tea   1 cup    230        4       0   t       0     0

    Carbs                   Category
0      48             Dairy products
1      52             Dairy products
2      13             Dairy products
3      24             Dairy products
4     119             Dairy products
..    ...                        ...
330    42  Drinks,Alcohol, Beverages
331    28  Drinks,Alcohol, Beverages
332    35  Drinks,Alcohol, Beverages
333     1  Drinks,Alcohol, Beverages
334     1  Drinks,Alcohol, Beverages

[335 rows x 10 columns]

In [2]:
nt.dtypes

Food        object
Measure     object
Grams       object
Calories    object
Protein     object
Fat         object
Sat.Fat     object
Fiber       object
Carbs       object
Category    object
dtype: object

In [16]:
nt.replace("t",0,inplace=True)
nt=nt.replace("t'",0)
nt.replace(",","", regex=True, inplace= True)
nt['Fiber']=nt['Fiber'].replace("a","", regex=True, inplace= True)
nt['Calories'][91]=(8+44)/2

<ipython-input-16-07afe2e016d9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nt['Calories'][91]=(8+44)/2

In [4]:
nt['Grams']=pd.to_numeric(nt['Grams'])
nt['Calories']=pd.to_numeric(nt['Calories'])
nt['Protein']=pd.to_numeric(nt['Protein'])
nt['Fat']=pd.to_numeric(nt['Fat'])
nt['Sat.Fat']=pd.to_numeric(nt['Sat.Fat'])
nt['Fiber']=pd.to_numeric(nt['Fiber'])
nt['Carbs']=pd.to_numeric(nt['Carbs'])

In [5]:
nt.dtypes

Food         object
Measure      object
Grams         int64
Calories    float64
Protein       int64
Fat           int64
Sat.Fat     float64
Fiber       float64
Carbs       float64
Category     object
dtype: object

# checking quality of data

In [6]:
print(nt.isnull().any())

Food        False
Measure     False
Grams       False
Calories     True
Protein     False
Fat         False
Sat.Fat      True
Fiber        True
Carbs       False
Category    False
dtype: bool

In [7]:
print(nt.describe())
nt.shape

             Grams     Calories     Protein         Fat     Sat.Fat  Fiber  \
count   335.000000   334.000000  335.000000  335.000000  333.000000    0.0
mean    143.211940   188.802395    8.573134    8.540299    6.438438    NaN
std     138.668626   184.453018   17.733722   19.797871   18.517656    NaN
min      11.000000     0.000000   -1.000000    0.000000    0.000000    NaN
25%      60.000000    75.000000    1.000000    0.000000    0.000000    NaN
50%     108.000000   131.000000    3.000000    1.000000    0.000000    NaN
75%     200.000000   250.000000   12.000000   10.000000    8.000000    NaN
max    1419.000000  1373.000000  232.000000  233.000000  234.000000    NaN

            Carbs
count  335.000000
mean    24.982388
std     35.833106
min      0.000000
25%      3.000000
50%     14.000000
75%     30.500000
max    236.000000

(335, 10)

fiber has nan values so we have to drop that column

In [8]:
nt.dropna(axis=1)

,Food,Measure,Grams,Protein,Fat,Carbs,Category
0,Cows' milk,1 qt.,976,32,40,48.0,Dairy products
1,Milk skim,1 qt.,984,36,0,52.0,Dairy products
2,Buttermilk,1 cup,246,9,5,13.0,Dairy products
3,Evaporated undiluted,1 cup,252,16,20,24.0,Dairy products
4,Fortified milk,6 cups,1419,89,42,119.0,Dairy products
...,...,...,...,...,...,...,...
330,Fruit-flavored soda,12 oz.,346,0,0,42.0,DrinksAlcohol Beverages
331,Ginger ale,12 oz.,346,0,0,28.0,DrinksAlcohol Beverages
332,Root beer,12 oz.,346,0,0,35.0,DrinksAlcohol Beverages
333,Coffee,1 cup,230,0,0,1.0,DrinksAlcohol Beverages
334,Tea,1 cup,230,0,0,1.0,DrinksAlcohol Beverages

# Top 5 protein rich food

In [9]:
nt.sort_values(by=['Protein'],ascending =False).head(5)

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
82,Oysters,6-8 med.,230,231.0,232,233,234.0,NaN,236.0,Fish Seafood
31,Butter,1/4 lb.,112,113.0,114,115,116.0,NaN,118.0,Fats Oils Shortenings
30,Butter,1/2 cup,112,113.0,114,115,116.0,NaN,118.0,Fats Oils Shortenings
4,Fortified milk,6 cups,1419,1373.0,89,42,23.0,NaN,119.0,Dairy products
224,Whole-wheat,1-lb. loaf,454,1100.0,48,14,10.0,NaN,216.0,Breads cereals fastfoodgrains

# Top 5 high calory food to be avoided

In [10]:
nt.sort_values(by=['Calories'],ascending =False).head(5)

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
4,Fortified milk,6 cups,1419,1373.0,89,42,23.0,NaN,119.0,Dairy products
223,White 20 slices or,1-lb. loaf,454,1225.0,39,15,12.0,NaN,229.0,Breads cereals fastfoodgrains
224,Whole-wheat,1-lb. loaf,454,1100.0,48,14,10.0,NaN,216.0,Breads cereals fastfoodgrains
33,Lard,1/2 cup,110,992.0,0,110,92.0,NaN,0.0,Fats Oils Shortenings
307,Brown firm-packed dark sugar,1 cup,220,815.0,0,0,0.0,NaN,210.0,Jams Jellies

# average nutreints in each food

In [11]:
column=['Grams','Calories', 'Protein', 'Fat', 'Sat.Fat', 'Fiber', 'Carbs']
nt[column].mean()

Grams       143.211940
Calories    188.802395
Protein       8.573134
Fat           8.540299
Sat.Fat       6.438438
Fiber              NaN
Carbs        24.982388
dtype: float64

In [18]:
nt.groupby('Food')['Grams','Calories', 'Protein', 'Fat', 'Sat.Fat', 'Fiber', 'Carbs'].mean()

<ipython-input-18-5dc748fdc5ca>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  nt.groupby('Food')['Grams','Calories', 'Protein', 'Fat', 'Sat.Fat', 'Fiber', 'Carbs'].mean()

                          Grams  Calories  Protein   Fat  Sat.Fat  Carbs
Food
(1/2 cup ice cream)       540.0     690.0     24.0  24.0     22.0   70.0
(cornstarch)              248.0     275.0      9.0  10.0      9.0   40.0
3 teaspoons sugar          12.0      50.0      0.0   0.0      0.0   12.0
9" diam. pie              135.0     330.0      3.0  13.0     11.0   53.0
Almonds                    70.0     425.0     13.0  38.0     28.0   13.0
...                         ...       ...      ...   ...      ...    ...
skim. milk                250.0     128.0     18.0   4.0      3.0   13.0
table blends sugar         40.0     110.0      0.0   0.0      0.0   29.0
uncreamed                 225.0     195.0     38.0   0.0      0.0    6.0
whole-wheat                40.0     102.0      4.0   1.0      0.0   20.0
with tomatoes and cheese  250.0     210.0      6.0   5.0      3.0   36.0

[329 rows x 6 columns]

# foods having low saturated fat

In [20]:
nt.sort_values(by=['Sat.Fat']).head(5)

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category
168,Fresh,3 med.,114,55.0,1,0,0.0,None,14.0,Fruits A-F
176,Fresh raw,1 cup,114,65.0,1,0,0.0,None,15.0,Fruits A-F
177,Cranberry sauce sweetened,1 cup,277,530.0,0,0,0.0,None,142.0,Fruits A-F
178,Dates,1 cup,178,505.0,4,0,0.0,None,134.0,Fruits A-F
179,Figs,2,42,120.0,2,0,0.0,None,30.0,Fruits A-F